PORT=4173
HOST=127.0.0.1
GOOGLE_SHEETS_SPREADSHEET_ID=1FcnkMsR24hU6A-bF5BYil2AX5iq-Ib38-Ta0dN_luBM
GOOGLE_SHEETS_STUDENT_SHEET_NAME=siswa
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwSD1EJx2oRh10GP3JJ3_JDQnZRIy34mkSNuiQK1-l6Pu-Drw2amkC-yq1zQKGV4SsI/exec
