PORT=4173
HOST=127.0.0.1
GOOGLE_SHEETS_SPREADSHEET_ID=1FcnkMsR24hU6A-bF5BYil2AX5iq-Ib38-Ta0dN_luBM
GOOGLE_SHEETS_STUDENT_SHEET_NAME=siswa
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxrwpbMeJoEKd-o6DpE9d7-jvKydk1lG1Q5zz1KI_iCJ6J__HgEEs6D8_t_lg99ZVeZ/exec
